<h1>Users</h1>
<div *ngFor="let user of users$" class="block">
  <a class="block__name" routerLink="/user/{{ user.id }}">{{ user.name }}</a>
  <ul>
    <li><i class="material-icons">account_circle</i>{{ user.username }}</li>
    <li><i class="material-icons">alternate_email</i>{{ user.email }}</li>
    <li><i class="material-icons">domain</i><a target="_blank" href="{{ user.website }}">{{ user.website }}</a></li>
  </ul>
</div> 