<h1>{{ user$.name }} - Todos</h1>

<div *ngFor="let todo of todos$" class="block">
  <h2 class="block__name">{{ todo.title }}</h2>
  <i *ngIf="todo.completed; else not_done" class="material-icons icon icon--check">check</i>
  <ng-template #not_done><i class="material-icons icon icon--close">close</i></ng-template>
</div>
