<div class="navigation">
  <div class="container">
      <app-navigation></app-navigation>
  </div>
</div>

<div class="container">
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>