<h1 title="{{ post$.title }}">{{ post$.title }}</h1>
<div class="block block--whole block--no-hover">
  <p>{{ post$.body }}</p>
</div>

<h3>Comments</h3>
<div *ngFor="let comment of comments$" class="block block--whole block--no-hover">
  <h2 class="block__name">{{ comment.name }}</h2>
  <p>{{ comment.body }}</p>
  <p class="block__specialtext"><i class="material-icons">alternate_email</i>{{ comment.email }}</p>
</div>