nav {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    img {
        display: inline-block;
        height: 60px;
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;

                    

            a {
                display: inline-block;
                line-height: 100px;
                text-decoration: none;
                color: #4F4F4F;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 0px 60px;
                
                &:hover {
                    background-color: #FAFAFA;
                }
            }
        }
    }
}

