/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-size: 2em;
    margin-bottom: 30px;
}

i {
    margin-right: 10px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #4F4F4F;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.block {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    display: inline-block;
    padding: 20px;
    transition: .2s ease-in-out box-shadow, .2s ease-in-out transform;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        transform: scale(1.02);
    }

    & + .block {
        margin-left: 30px;
    }

    &:nth-of-type(3n + 1) {
        margin-left: 0;
    }

    &--half {
        width: calc((100% - 30px) / 2);
    }

    &--whole {
        width: 100%;

        & + .block {
            margin-left: 0;
        }
    }

    &--no-hover {
        &:hover {
            box-shadow: none;
            transform: scale(1);
        }
    }

    &--photo {
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__name {
        margin-bottom: 20px;
        display: block;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: 1px;
        color: #DD0031;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &--no-margin {
            margin: 0;
        }
    }

    &__specialtext {
        margin-top: 15px;
        color: #4F4F4F;
    }

    li {

        & + li {
            margin-top: 10px;
        }
    }
}

.icon {
    &--check {
        color: green;
    }

    &--close {
        color: red;
    }
}

.button {
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
    padding: 10px 30px;
    border-radius: 5px;
    transition: .2s ease-in-out box-shadow, .2s ease-in-out transform;
    display: inline-block;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        transform: scale(1.02);
    }

    & + .button {
        margin-left: 15px;
    }
}