<h1>{{ user$.name }} - Albums</h1>

<div *ngFor="let album of albums$" class="block">
  <h2 class="block__name" title="{{ album.title }}">{{ album.title }}</h2>
  <a routerLink="/album/{{ album.id }}">View Album</a>
</div>