<h1>{{ user$.name }}</h1>

<div class="block block--half block--no-hover">
  <h2 class="block__name">Address</h2>
  <p>{{ user$.address.street }} {{ user$.address.suite }}</p>
  <p>{{ user$.address.city }}, {{ user$.address.zipcode }}</p>
</div>

<div class="block block--half block--no-hover">
  <h2 class="block__name">Work - {{ user$.company.name }}</h2>
  <p>{{ user$.company.catchPhrase }}</p>
  <p>{{ user$.company.bs }}</p>
</div>

<a class="button" routerLink="/user/{{ user$.id }}/albums">View Albums</a>
<a class="button" routerLink="/user/{{ user$.id }}/comments">View Comments</a>
<a class="button" routerLink="/user/{{ user$.id }}/todos">View Todos</a>