<h1>{{ user$.name }} - Comments</h1>

<div *ngFor="let comment of comments$" class="block">
  <h2 class="block__name" title="{{ comment.name }}">{{ comment.name }}</h2>
  <a routerLink="/post/{{ comment.postId }}">View post</a>
</div>
